z27/Program.cs
z27/z27.csproj
z27/bin/Debug/net6.0/z27.deps.json
z27/bin/Debug/net6.0/z27.dll
z27/bin/Debug/net6.0/z27.exe
z27/bin/Debug/net6.0/z27.pdb
z27/bin/Debug/net6.0/z27.runtimeconfig.json
z27/bin/Debug/net6.0/ref/z27.dll
z27/obj/project.assets.json
z27/obj/project.nuget.cache
z27/obj/z27.csproj.nuget.dgspec.json
z27/obj/z27.csproj.nuget.g.props
z27/obj/z27.csproj.nuget.g.targets
z27/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
z27/obj/Debug/net6.0/apphost.exe
z27/obj/Debug/net6.0/z27.AssemblyInfo.cs
z27/obj/Debug/net6.0/z27.AssemblyInfoInputs.cache
z27/obj/Debug/net6.0/z27.assets.cache
z27/obj/Debug/net6.0/z27.csproj.AssemblyReference.cache
z27/obj/Debug/net6.0/z27.csproj.CoreCompileInputs.cache
z27/obj/Debug/net6.0/z27.csproj.FileListAbsolute.txt
z27/obj/Debug/net6.0/z27.dll
z27/obj/Debug/net6.0/z27.GeneratedMSBuildEditorConfig.editorconfig
z27/obj/Debug/net6.0/z27.genruntimeconfig.cache
z27/obj/Debug/net6.0/z27.GlobalUsings.g.cs
z27/obj/Debug/net6.0/z27.pdb
z27/obj/Debug/net6.0/ref/z27.dll
